<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
    <link rel="stylesheet" href="/public/css/my_reset.css" />
    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- 폰트어썸 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/edit.css" />

    <script src="/public/js/edit.js" defer></script>
  </head>
  <body>
    <div class="all_wrap">
      <h1 class="title">Edit</h1>
      <div class="wrap mw">
        <form action="/edit?_method=PUT" method="post">
          <input type="text" name="id" value="<%= post._id %>" hidden />
          <input type="text" name="title" id="title" value="<%= post.제목%>" />
          <div class="categori">
            <label for="diary" class="diary">일기</label>
            <input
              type="radio"
              name="categori"
              value="일기"
              id="diary"
              hidden
            />
            <label for="memo" class="memo">메모</label>
            <input type="radio" name="categori" value="메모" id="memo" hidden />
            <label for="todo" class="todo">할일</label>
            <input type="radio" name="categori" value="할일" id="todo" hidden />
          </div>
          <input type="date" id="currentDate" name="today" hidden />
          <textarea name="contents" id="contents"><%= post.내용 %></textarea>

          <div class="editing">
            <i class="fa-solid fa-align-justify"></i>
            <i class="fa-solid fa-align-left"></i>
            <i class="fa-solid fa-align-center"></i>
            <i class="fa-solid fa-align-right"></i>
            <span>ABC</span>
            <span>ABC</span>
            <span>ABC</span>
          </div>
          <div class="btns">
            <a href="/" id="cancel">취소</a>
            <label class="bookmark" for="bookmark"> </label>
            <input
              type="checkbox"
              name="bookmark"
              id="bookmark"
              value="https://github.com/YooSangbum/project3/blob/master/public/image/%EC%B1%85%EA%B0%88%ED%94%BC1.png?raw=true"
              hidden
            />
            <input type="submit" name="send" id="send" value="이야기 보내기" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
