<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>write</title>
    <link rel="stylesheet" href="/public/css/my_reset.css" />
    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- 폰트어썸 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/write.css" />
  </head>
  <body>
    <div class="all_wrap">
      <h1 class="title">Write</h1>
      <div class="wrap mw">
        <form action="/add" method="post">
          <input type="text" name="title" id="title" value="Title.제목입력" />
          <div class="categori">
            <label for="diary" class="diary">일기</label>
            <input
              type="radio"
              name="categori"
              value="일기"
              id="diary"
              hidden
            />
            <label for="memo" class="memo">메모</label>
            <input type="radio" name="categori" value="메모" id="memo" hidden />
            <label for="todo" class="todo">할일</label>
            <input type="radio" name="categori" value="할일" id="todo" hidden />
            <input type="radio" name="categori" value="" id="none" hidden />
          </div>

          <input type="date" id="currentDate" name="today" hidden />
          <textarea name="contents" id="contents"> 내용 입력</textarea>
          <div class="btns">
            <a href="/" id="cancel">취소</a>
            <label class="bookmark" for="bookmark"> </label>
            <input
              type="checkbox"
              name="bookmark"
              id="bookmark"
              value="https://github.com/YooSangbum/project3/blob/master/public/image/%EC%B1%85%EA%B0%88%ED%94%BC1.png?raw=true"
              hidden
            />
            <input type="submit" name="send" id="send" value="이야기 보내기" />
          </div>
        </form>
      </div>
    </div>

    <script>
      // 날짜
      document.getElementById('currentDate').value = new Date()
        .toISOString()
        .substring(0, 10);

      // 북마크 값 넣기
      const bookmarkCheckbox = document.getElementById('bookmark');
      let condition;

      bookmarkCheckbox.addEventListener('click', function () {
        if (this.checked) {
          condition = true;
          bookmarkCheckbox.value =
            'https://github.com/YooSangbum/project3/blob/master/public/image/%EC%B1%85%EA%B0%88%ED%94%BC1.png?raw=true';
        } else {
          condition = false;
          bookmarkCheckbox.value = '';
          // bookmarkCheckbox.removeAttribute('value');
        }
      });

      // 북마크 클릭 변경
      const bookmark = document.querySelector('.bookmark');
      let bookmarkImg = `<img src="/public/image/책갈피.png" alt="" />`;

      bookmark.innerHTML = bookmarkImg;

      bookmark.addEventListener('click', (e) => {
        const input = document.querySelector('#bookmark[type="checkbox"]');
        const $true = input.checked;
        if (!$true) {
          let bookmarkImg = `<img src="/public/image/책갈피on.svg" alt="" />`;
          bookmark.innerHTML = bookmarkImg;
        } else {
          let bookmarkImg = `<img src="/public/image/책갈피.png" alt="" />`;

          bookmark.innerHTML = bookmarkImg;
        }
      });

      // 카테고리 크기 키우기
      const categori = document.querySelectorAll('.categori label');

      categori.forEach((item) => {
        item.addEventListener('click', () => {
          categori.forEach((item) => {
            item.classList.remove('on');
          });
          item.classList.add('on');
        });
      });
    </script>
  </body>
</html>
